<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="CI App Tests">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="junit" target="tests/_output/phpunit-report.xml"/>
  </logging>

  <coverage>
    <include>
      <directory>./app</directory>
    </include>
    <report>
      <clover outputFile="tests/_output/clover.xml"/>
    </report>
  </coverage>
</phpunit>
